{% extends 'base.html' %}
{% load custom_tags %}

{% block page-header %}
Containers信息
{% endblock %}

{% block page-content %}
    <table class="table table-striped table-hover">
        <tr>
            <th>CONTAINER ID</th>
            <th>IMAGE</th>
            <th>COMMAND</th>
            <th>CREATED</th>
            <th>STATUS</th>
            <th>PORTS</th>
            <th>IP Address</th>
            <th>HOST/IP Address</th>
        </tr>
        {% for host,containers_in_host in containers_list.items %}
        {% for container in containers_in_host %}
        <tr>
        <td><a href="{% url 'monitor:container_detail' host.id container.Id %}">
            {{ container.Id |truncatechars:"15" }}</a>
        </td>
        <td>{{ container.Image }}</td>
        <td>{{ container.Command |truncatechars:"20"}}</td>
        <td>{{ container.Created |transform_time }}</td>
        <td>{{ container.Status}}</td>
        <td>{{ container.Ports }}</td>
        <td>{{ container.NetworkSettings.Networks.bridge.IPAddress }}</td>
        <td>{{ host.address }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
{% endblock %}